.metronome{
  text-align: centre;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
}

.bpm-slider input{
  width:100%;
  margin:10px;
}

.metronome button{
  background: #C94D46;
  padding:10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 100px;
  color:#fff;
  font-size: 18px;
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

.button:hover{
  background-color: pink;
}

.button:active{
  background-color: yellow;
}
